.createSkipBtn {
    margin-left:8px;
    padding:4px 8px;
    font-size:12px;
    border:1px solid rgba(255, 0, 0, 0.45);
    border-radius:8px;
    background:transparent;
    cursor:pointer;
}
